#cloud-config

mounts:
- [ xvdb ]

write_files:
- path: /etc/sysconfig/docker-storage-setup
  owner: root:root
  permissions: '0644'
  content: |
    DEVS='/dev/xvdb'
    VG=docker_vg
    AUTO_EXTEND_POOL=yes
    POOL_AUTOEXTEND_THRESHOLD=60
    POOL_AUTOEXTEND_PERCENT=20
- path: /etc/sudoers.d/99-openshift-cloud-init-requiretty
  owner: root:root
  permissions: '0440'
  content: |
    Defaults:openshift !requiretty

users:
- default

system_info:
  default_user:
    name: openshift
